body{
    margin: 0;
}

header{
    padding: 1px;
    color: white;
    margin-left: 15px;
}

nav{
    display: flex;
    gap: 20px;
    flex-direction:row;
    justify-content:right;
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 15px;
}

nav a{
    text-decoration:none;
    color: white;
}

.div_fundos{
    background: #eaeeee;
    width:100%;
    padding-top: 10px;
    padding-bottom: 50px;
}

.ttl_index{ 
    color:#042f38;
}

.ttl_idd{
    color:#042f38;
}

main{
    width: 100%;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.topo{
    background-color: #042f38;
    display: flex;
    justify-content: space-between;
}

.index_list{
    list-style-type: none;
}

.index_desc a{
    text-decoration: none;
    color: #285e69 ;
}

.p_index{
    font-size: 18px;
    color: #042f38;
}

#img_1{
    border:#679fa7 solid;
}